/* Base styles */
.hero-section {
  position: relative;
}

.hero-banner-img {
  width: 100%;
  mask-image: linear-gradient(to right, transparent, black 75%);
  -webkit-mask-image: linear-gradient(to right, transparent, black 75%);
}

.hero-caption {
  position: absolute;
  width: 100%;
  padding-left: 6%;
  bottom: 0;
}

.hero-caption-img {
  width: 100%;
  max-width: 490px;
  margin-bottom: 30px;
}

.hero-caption p {
  max-width: 700px;
  font-size: 17px;
  margin-bottom: 20px;
}

.hero-buttons {
  display: flex;
  margin-bottom: 50px;
  text-decoration: none;
  margin: 10p;
}

.hero-buttons .hero-btn img {
  width: 25px;
}

.hero-buttons .hero-btn {
  border: 0;
  outline: 0;
  padding: 8px 20px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  font-weight: 600;
  background: white;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.hero-buttons .hero-btn.dark-btn {
  color: #fff;
  background: #6d6d6eb3;
}

.hero-buttons .hero-btn:hover {
  background: #ffffffbf;
}

.hero-buttons .hero-btn.dark-btn:hover {
  background: #6d6d6e66;
}

.more-cards {
  padding: 6%;
}

@media (max-width: 1024px) {
  .hero-caption .topCard {
    display: none;
  }
  .hero-buttons {
    margin-bottom: 30px;
  }
}

@media (max-width: 800px) {
  .hero-caption {
    padding-left: 4%;
  }
  .hero-caption-img {
    margin-bottom: 10px;
    width: 40%;
  }
  .hero-caption p {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .hero-buttons .hero-btn img {
    width: 20px;
  }

  .more-cards {
    padding-left: 4%;
  }
}

/* @media (max-width: 500px) {
  .hero-caption-img {
    display: none;
  }
  .hero-buttons .hero-btn img {
    width: 15px;
  }
  .hero-btn {
    padding: 4px 10px;
    gap: 5px;
    font-size: 10px;
  }
} */
